<ion-header>
  <ion-navbar>
    <ion-title>
      Intercoding
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="ejercicios.length !== 0" class="animated slideInUp">


    <ion-card *ngFor="let eje of ejercicios">



      <ion-card-content>
        <ion-row>
              <ion-col col-12 col-sm-12 col-md-9>
              <div [ngSwitch]="eje.grado_dificultad" style="margin-top: 15px !important">
                  <div *ngSwitchCase="3">
                    <div class="dificultad">Alta</div>
                    <h3>{{ eje.titulo }}</h3>
                  </div>
                  <div *ngSwitchCase="2">
                    <div class="dificultad green">Media</div>
                    <h3>{{ eje.titulo }}</h3>
                  </div>
                  <div *ngSwitchCase="1">
                    <div class="dificultad blue">Baja</div>
                    <h3>{{ eje.titulo }}</h3>
                  </div>


                </div>


            <p class="descripcion">{{ eje.descripcion | suspensivo: 150}}</p>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-3>
              <ion-item>

                <button ion-button icon-start item-end (click)="alerta(eje)" block>
                  <ion-icon name="eye"></ion-icon> Ver ejercicio
                </button>

              </ion-item>

              <ion-item>
                <button ion-button icon-start item-end (click)="openModal(eje)" block>
                  <ion-icon name="eye"></ion-icon> Reelección
                </button>
              </ion-item>
            </ion-col>
          </ion-row>
          </ion-card-content>










    </ion-card>

  </ion-list>


</ion-content>
