page-ejercicios-detalle {

  button {
    padding: 18px 15px !important;
  }

  ion-card-content {

    h3 {
      font-weight: 600 !important;
      margin-bottom: 16px !important;
      font-size: 2.2rem !important;
    }

    h4 {
      font-weight: 600 !important;
      font-size: 1.9rem !important;
      margin-top: 30px !important;
      padding-bottom: 5px;
      border-bottom: 1px solid #777;
    }

    hr {
      color: #333 !important;
    }

    div.dificultad {

      color: white !important;
      letter-spacing: 0.5px;
      float: left;
      margin-right: 12px;
      width: 55px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      vertical-align: 10px;
      font-size: 15px !important;
      font-weight: bold;
      box-shadow: 2px 2px #aaa;
      background: red;
    }

    div.dificultad.red {
      background-color: color($colors, danger);
    }

    div.dificultad.blue {
      background-color: color($colors, primary3);
    }

    div.dificultad.green {
      background-color: color($colors, verde);
    }

    p {
      font-size: 1.8rem !important;
      line-height: 0.7cm !important;
    }

    p.descripcion {
      color: #666;
    }

  }

  @media only screen and (min-width: 800px) {
    ion-card {

      width: 720px !important;
      margin: 30px auto !important;

    }
  }
}
